<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock title %}</title>

    <link rel="icon" type="image/png" sizes="16x16" href="static/img/favicon_16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/img/favicon_32x32.png">
    <link rel="icon" type="image/png" sizes="48x48" href="static/img/favicon_48x48.png">

    <script src="https://unpkg.com/htmx.org@2.0.0/dist/htmx.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    >
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    >
    {% include "theme.html" ignore missing %}
    <link
      rel="stylesheet"
      href="static/css/base.css"
    >
    {% include "common/common_styles.html" ignore missing %}

    {% block head %}
    {% endblock head %}
  </head>

    <body {% block body_attrs %}{% endblock body_attrs %}>
      {% block content %}
      {% endblock content %}

      {% block js %}
      {% endblock js %}
  </body>
</html>
