<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock title %}</title>

    <script src="https://unpkg.com/htmx.org@2.0.0/dist/htmx.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    >
    <link
      rel="stylesheet"
      href="static/css/base.css"
    >
    {% include "theme.html" ignore missing %}

    {% block head %}
    {% endblock head %}
  </head>

    <body {% block body_attrs %}{% endblock body_attrs %}>
      {% block content %}
      {% endblock content %}

      {% block js %}
      {% endblock js %}
  </body>
</html>
