:root {
  /* global settings for this component*/
}

.common-brand-title {
  color: rgb(var(--app-primary-rgb));
}

.common-brand-subtitle {
  color: rgb(var(--app-primary-rgb));
  letter-spacing: 0.1rem;
}

.common-brand-subtitle-malanno {
  color: rgb(var(--app-warning-rgb));
  letter-spacing: 0.2rem;
}
