:root {
  /**/
  /* Color Palettes */
  --app-primary: hsla(var(--app-primary-h), var(--app-primary-s), var(--app-primary-l), 1);
  --app-primary-base: hsla(var(--app-primary-h), var(--app-primary-s), var(--app-primary-l), 1);
  --app-primary-hex: #F00699;
  --app-primary-rgb: 240, 6, 153;
  --app-primary-h: 322deg;
  --app-primary-s: 95%;
  --app-primary-l: 48%;

  --app-secondary: hsla(var(--app-secondary-h), var(--app-secondary-s), var(--app-secondary-l), 1);
  --app-secondary-base: hsla(var(--app-secondary-h), var(--app-secondary-s), var(--app-secondary-l), 1);
  --app-secondary-hex: #00F0B5;
  --app-secondary-rgb: 0, 240, 181;
  --app-secondary-h: 165deg;
  --app-secondary-s: 100%;
  --app-secondary-l: 47%;
  --app-secondary-dark: hsla(var(--app-secondary-h), var(--app-secondary-s), 44%), 1);

  --app-link: hsla(var(--app-link-h), var(--app-link-s), var(--app-link-l), 1);
  --app-link-base: hsla(var(--app-link-h), var(--app-link-s), var(--app-link-l), 1);
  --app-link-hex: #5E239D;
  --app-link-rgb: 94, 35, 157;
  --app-link-h: 269deg;
  --app-link-s: 64%;
  --app-link-l: 38%;

  --app-info: hsla(var(--app-info-h), var(--app-info-s), var(--app-info-l), 1);
  --app-info-base: hsla(var(--app-info-h), var(--app-info-s), var(--app-info-l), 1);
  --app-info-hex: #9ED8DB;
  --app-info-rgb: 158, 216, 219;
  --app-info-h: 183deg;
  --app-info-s: 46%;
  --app-info-l: 74%;

  --app-success: hsla(var(--app-success-h), var(--app-success-s), var(--app-success-l), 1);
  --app-success-base: hsla(var(--app-success-h), var(--app-success-s), var(--app-success-l), 1);
  --app-success-hex: #018E42;
  --app-success-rgb: 1, 142, 66;
  --app-success-h: 148deg;
  --app-success-s: 99%;
  --app-success-l: 28%;

  --app-warning: hsla(var(--app-warning-h), var(--app-warning-s), var(--app-warning-l), 1);
  --app-warning-base: hsla(var(--app-warning-h), var(--app-warning-s), var(--app-warning-l), 1);
  --app-warning-hex: #F7D002;
  --app-warning-rgb: 247, 208, 2;
  --app-warning-h: 50deg;
  --app-warning-s: 98%;
  --app-warning-l: 49%;

  --app-danger: hsla(var(--app-danger-h), var(--app-danger-s), var(--app-danger-l), 1);
  --app-danger-base: hsla(var(--app-danger-h), var(--app-danger-s), var(--app-danger-l), 1);
  --app-danger-hex: #BF1A2F;
  --app-danger-rgb: 191, 26, 47;
  --app-danger-h: 352deg;
  --app-danger-s: 76%;
  --app-danger-l: 43%;

  --app-primary-00-l: 1%;
  --app-primary-05-l: 6%;
  --app-primary-10-l: 11%;
  --app-primary-15-l: 16%;
  --app-primary-20-l: 21%;
  --app-primary-35-l: 35%;
  --app-primary-60-l: 60%;

  /* shadows */
  --app-shadow: hsla(var(--app-shadow-h), var(--app-shadow-s), var(--app-shadow-l), 1);
  --app-shadow-base: hsla(var(--app-shadow-h), var(--app-shadow-s), var(--app-shadow-l), 1);
  --app-shadow-hex: #163354;
  --app-shadow-rgb: 22, 51, 84;
  --app-shadow-h: 212deg;
  --app-shadow-s: 58%;
  --app-shadow-l: 21%;

  --app-contrast-shadow: hsla(var(--app-shadow-h), var(--app-shadow-s), var(--app-shadow-l), 1);
  --app-contrast-shadow-base: hsla(var(--app-shadow-h), var(--app-shadow-s), var(--app-shadow-l), 1);
  --app-contrast-shadow-hex: #D8D8D8;
  --app-contrast-shadow-rgb: 216, 216, 216;
  --app-contrast-shadow-h: 0deg;
  --app-contrast-shadow-s: 0%;
  --app-contrast-shadow-l: 85%;

  --app-contrast-shadow-dark: hsla(var(--app-shadow-h), var(--app-shadow-s), var(--app-shadow-l), 1);
  --app-contrast-shadow-dark-base: hsla(var(--app-shadow-h), var(--app-shadow-s), var(--app-shadow-l), 1);
  --app-contrast-shadow-dark-hex: #3C424A;
  --app-contrast-shadow-dark-rgb: 60, 66, 74;
  --app-contrast-shadow-dark-h: 214deg;
  --app-contrast-shadow-dark-s: 10%;
  --app-contrast-shadow-dark-l: 26%;

  /* Typography */
  --app-family-primary: Crimson Text, Rubik, Inter, SF Pro, Segoe UI, Roboto, Oxygen, Ubuntu, Helvetica Neue, Helvetica, Arial, sans-serif;
  --app-family-secondary: Crimson Text, Inter, SF Pro, Segoe UI, Roboto, Oxygen, Ubuntu, Helvetica Neue, Helvetica, Arial, sans-serif;
  --app-family-sans-serif: Rubik, Inconsolata, Hack, SF Mono, Roboto Mono, Source Code Pro, Ubuntu Mono, monospace;
  --app-family-monospace: IBM Plex Mono, Inconsolata, Hack, SF Mono, Roboto Mono, Source Code Pro, Ubuntu Mono, monospace;
  --app-family-code: IBM Plex Mono, Inconsolata, Hack, SF Mono, Roboto Mono, Source Code Pro, Ubuntu Mono, monospace;
  /* --app-size-small: 0.75rem; */
  /* --app-size-normal: 1rem; */
  /* --app-size-medium: 1.25rem; */
  /* --app-size-large: 1.5rem; */
  /* etc. */

  --app-contrast-shadow-depth: 0 0 20px;
  --app-contrast-shadow-depth-light: 0 0 50px;
  --app-contrast-shadow-depth-heavy: 0 0 10px;

  --app-oblique-shadow-00: 1px 0 0px;
  --app-oblique-shadow-10: 1px 2px 0px;
  --app-oblique-shadow-20: 2px 1px 0px;
  --app-oblique-shadow-30: 2px 3px 0px;
  --app-oblique-shadow-50: 3px 2px 0px;
  --app-oblique-shadow-55: 3px 4px 0px;
  --app-oblique-shadow-60: 4px 3px 0px;
  --app-oblique-shadow-65: 4px 5px 0px;
  --app-oblique-shadow-70: 5px 4px 0px;
  --app-oblique-shadow-75: 5px 6px 0px;
  --app-oblique-shadow-80: 6px 5px 0px;
  --app-oblique-shadow-85: 6px 7px 0px;
  --app-oblique-shadow-90: 7px 6px 0px;
  --app-oblique-shadow-95: 7px 8px 0px;
  --app-oblique-shadow-99: 8px 7px 0px;

  --app-oblique-shadow-blurred-00: 1px 0 0px;
  --app-oblique-shadow-blurred-10: 1px 2px 1px;
  --app-oblique-shadow-blurred-20: 2px 1px 1px;
  --app-oblique-shadow-blurred-30: 2px 3px 2px;
  --app-oblique-shadow-blurred-50: 3px 2px 2px;
  --app-oblique-shadow-blurred-55: 3px 4px 2px;
  --app-oblique-shadow-blurred-60: 4px 3px 3px;
  --app-oblique-shadow-blurred-65: 4px 5px 3px;
  --app-oblique-shadow-blurred-70: 5px 4px 2px;
  --app-oblique-shadow-blurred-75: 5px 6px 2px;
  --app-oblique-shadow-blurred-80: 6px 5px 2px;
  --app-oblique-shadow-blurred-85: 6px 7px 1px;
  --app-oblique-shadow-blurred-90: 7px 6px 1px;
  --app-oblique-shadow-blurred-95: 7px 8px 0px;
  --app-oblique-shadow-blurred-99: 8px 7px 0px;
}

html {
  overflow: visible;
}

.base-min-fullheight {
  min-height: 100vh;
}

.app-text-oblique-shadow {
  text-shadow:
    var(--app-oblique-shadow-00) rgba(var(--app-shadow-rgb), 1),
    var(--app-oblique-shadow-10) rgba(var(--app-shadow-rgb), 1),
    var(--app-oblique-shadow-20) rgba(var(--app-shadow-rgb), 1),
    var(--app-oblique-shadow-30) rgba(var(--app-shadow-rgb), 1),
    var(--app-oblique-shadow-50) rgba(var(--app-shadow-rgb), 1),
    var(--app-oblique-shadow-55) rgba(var(--app-shadow-rgb), 1),
    /*contrast shadow*/
    var(--app-contrast-shadow-depth) rgba(var(--app-contrast-shadow-rgb), 1);
}

.app-text-oblique-shadow-small {
  text-shadow:
    var(--app-oblique-shadow-00) rgba(var(--app-shadow-rgb), 1),
    var(--app-oblique-shadow-10) rgba(var(--app-shadow-rgb), 1),
    var(--app-oblique-shadow-20) rgba(var(--app-shadow-rgb), 1),
    var(--app-oblique-shadow-30) rgba(var(--app-shadow-rgb), 1),
    /*contrast shadow*/
    var(--app-contrast-shadow-depth) rgba(var(--app-contrast-shadow-rgb), 1);
}

.app-text-oblique-shadow-medium {
  text-shadow:
    var(--app-oblique-shadow-00) rgba(var(--app-shadow-rgb), 1),
    var(--app-oblique-shadow-10) rgba(var(--app-shadow-rgb), 1),
    var(--app-oblique-shadow-20) rgba(var(--app-shadow-rgb), 1),
    var(--app-oblique-shadow-30) rgba(var(--app-shadow-rgb), 1),
    var(--app-oblique-shadow-50) rgba(var(--app-shadow-rgb), 1),
    var(--app-oblique-shadow-55) rgba(var(--app-shadow-rgb), 1),
    var(--app-oblique-shadow-60) rgba(var(--app-shadow-rgb), 1),
    var(--app-oblique-shadow-65) rgba(var(--app-shadow-rgb), 1),
    /*contrast shadow*/
    var(--app-contrast-shadow-depth) rgba(var(--app-contrast-shadow-rgb), 1);
}

.app-text-oblique-shadow-big {
  text-shadow:
    var(--app-oblique-shadow-00) rgba(var(--app-shadow-rgb), 1),
    var(--app-oblique-shadow-10) rgba(var(--app-shadow-rgb), 1),
    var(--app-oblique-shadow-20) rgba(var(--app-shadow-rgb), 1),
    var(--app-oblique-shadow-30) rgba(var(--app-shadow-rgb), 1),
    var(--app-oblique-shadow-50) rgba(var(--app-shadow-rgb), 1),
    var(--app-oblique-shadow-55) rgba(var(--app-shadow-rgb), 1),
    var(--app-oblique-shadow-60) rgba(var(--app-shadow-rgb), 1),
    var(--app-oblique-shadow-65) rgba(var(--app-shadow-rgb), 1),
    var(--app-oblique-shadow-70) rgba(var(--app-shadow-rgb), 1),
    var(--app-oblique-shadow-75) rgba(var(--app-shadow-rgb), 1),
    var(--app-oblique-shadow-80) rgba(var(--app-shadow-rgb), 1),
    var(--app-oblique-shadow-85) rgba(var(--app-shadow-rgb), 1),
    var(--app-oblique-shadow-90) rgba(var(--app-shadow-rgb), 1),
    var(--app-oblique-shadow-95) rgba(var(--app-shadow-rgb), 1),
    var(--app-oblique-shadow-99) rgba(var(--app-shadow-rgb), 1),
    /*contrast shadow*/
    var(--app-contrast-shadow-depth) rgba(var(--app-contrast-shadow-rgb), 1);
}
