:root {
  /* Colors and Lightness values */
  /* --bulma-scheme-h: 221; */
  /* --bulma-scheme-s: 14%; */
  /* --bulma-light-l: 90%; */
  /* --bulma-light-invert-l: 20%; */
  /* --bulma-dark-l: 20%; */
  /* --bulma-dark-invert-l: 90%; */
  /* --bulma-soft-l: 90%; */
  /* --bulma-bold-l: 20%; */
  /* --bulma-soft-invert-l: 20%; */
  /* --bulma-bold-invert-l: 90%; */
  /* etc. */

  /* Color Palettes */
  --bulma-primary: hsla(var(--bulma-primary-h), var(--bulma-primary-s), var(--bulma-primary-l), 1);
  --bulma-primary-base: hsla(var(--bulma-primary-h), var(--bulma-primary-s), var(--bulma-primary-l), 1);
  --bulma-primary-rgb: var(--app-primary-rgb);
  --bulma-primary-h: var(--app-primary-h);
  --bulma-primary-s: var(--app-primary-s);
  --bulma-primary-l: var(--app-primary-l);

  --bulma-link: hsla(var(--bulma-link-h), var(--bulma-link-s), var(--bulma-link-l), 1);
  --bulma-link-base: hsla(var(--bulma-link-h), var(--bulma-link-s), var(--bulma-link-l), 1);
  --bulma-link-rgb: var(--app-link-rgb);
  --bulma-link-h: var(--app-link-h);
  --bulma-link-s: var(--app-link-s);
  --bulma-link-l: var(--app-link-l);

  --bulma-info: hsla(var(--bulma-info-h), var(--bulma-info-s), var(--bulma-info-l), 1);
  --bulma-info-base: hsla(var(--bulma-info-h), var(--bulma-info-s), var(--bulma-info-l), 1);
  --bulma-info-rgb: var(--app-info-rgb);
  --bulma-info-h: var(--app-info-h);
  --bulma-info-s: var(--app-info-s);
  --bulma-info-l: var(--app-info-l);

  --bulma-success: hsla(var(--bulma-success-h), var(--bulma-success-s), var(--bulma-success-l), 1);
  --bulma-success-base: hsla(var(--bulma-success-h), var(--bulma-success-s), var(--bulma-success-l), 1);
  --bulma-success-rgb: var(--app-success-rgb);
  --bulma-success-h: var(--app-success-h);
  --bulma-success-s: var(--app-success-s);
  --bulma-success-l: var(--app-success-l);

  /* --bulma-warning: hsla(var(--bulma-warning-h), var(--bulma-warning-s), var(--bulma-warning-l), 1); */
  /* --bulma-warning-base: hsla(var(--bulma-warning-h), var(--bulma-warning-s), var(--bulma-warning-l), 1); */
  /* --bulma-warning-rgb: 0, 209, 178; */
  /* --bulma-warning-h: 171deg; */
  /* --bulma-warning-s: 100%; */
  /* --bulma-warning-l: 41%; */

  --bulma-danger: hsla(var(--bulma-danger-h), var(--bulma-danger-s), var(--bulma-danger-l), 1);
  --bulma-danger-base: hsla(var(--bulma-danger-h), var(--bulma-danger-s), var(--bulma-danger-l), 1);
  --bulma-danger-rgb: var(--app-danger-rgb);
  --bulma-danger-h: var(--app-danger-h);
  --bulma-danger-s: var(--app-danger-s);
  --bulma-danger-l: var(--app-danger-l);

  /* --bulma-primary-00-l: 1%; */
  /* --bulma-primary-05-l: 6%; */
  /* --bulma-primary-10-l: 11%; */
  /* --bulma-primary-15-l: 16%; */
  /* --bulma-primary-20-l: 21%; */
  /* etc. */

  /* Typography */
  --bulma-family-primary: Rubik, Inter, SF Pro, Segoe UI, Roboto, Oxygen, Ubuntu, Helvetica Neue, Helvetica, Arial, sans-serif;
  --bulma-family-secondary: Crimson Text, Inter, SF Pro, Segoe UI, Roboto, Oxygen, Ubuntu, Helvetica Neue, Helvetica, Arial, sans-serif;
  --bulma-family-sans-serif: Rubik, Inconsolata, Hack, SF Mono, Roboto Mono, Source Code Pro, Ubuntu Mono, monospace;
  --bulma-family-monospace: IBM Plex Mono, Inconsolata, Hack, SF Mono, Roboto Mono, Source Code Pro, Ubuntu Mono, monospace;
  --bulma-family-code: IBM Plex Mono, Inconsolata, Hack, SF Mono, Roboto Mono, Source Code Pro, Ubuntu Mono, monospace;
  /* --bulma-size-small: 0.75rem; */
  /* --bulma-size-normal: 1rem; */
  /* --bulma-size-medium: 1.25rem; */
  /* --bulma-size-large: 1.5rem; */
  /* etc. */
}
