<form class="pt5">
  <div class="field">
    <label class="label">EMAIL:</label>
    <div class="control">
      <input class="input" type="email" placeholder="youremail@example.com" />
    </div>
  </div>

  <div class="field">
    <label class="label">PASSWORD:</label>
    <div class="control">
      <input class="input" type="password" />
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-primary has-text-white" type="submit"><span class="is-bold">LOGIN</span></button>
    </div>

    <div class="control">
      <button class="button is-warning" type="submit">FORGOT PASSWORD</button>
    </div>
  </div>
</form>
