{% extends "base.html" %}

{% block title %}
Malanno Manager Homepage
{% endblock title %}

{% block head %}
<link
  rel="stylesheet"
  href="static/css/login/login.css"
  href="static/css/login/enter_credentials.css"
>
{% endblock head %}

{% block content %}
<main class="hero view-login-hero is-fullheight">
  <div class="fixed-grid has-7-cols">
    <div class="grid base-min-fullheight">

      <section class="cell view-login-cell is-col-span-4">
        <div class="container base-min-fullheight is-fluid is-flex is-flex-direction-column">
          <section class="cell view-login-title-container is-col-span-3">
            <!-- brand_title - common brand title text used app-wide -->
            {% include "common/brand_title.html" ignore missing %}
            <!-- END brand_title component -->
          </section>

          <footer class="subtitle view-login-bg-credits">
            <!-- background_credits - credits for background picture -->
            {% include "common/background_credits.html" ignore missing %}
            <!-- END background_credits component -->
          </footer>
        </div>
      </section>

      <section class="cell view-login-cell is-col-span-3">
        <section class="box base-min-fullheight is-radiusless">
          <article class="view-login-article">
            <h1 class="title">Hello Nonno!</h1>
            <p class="subtitle mt-5 mb-6">To enter, provide your credentials, insert your email and password in the form below.</p>

            <!-- enter_credentials - form to provide login credentials -->
            {% include "login/enter_credentials.html" ignore missing %}
            <!-- END enter_credentials component -->
          </article>

        </section>
      </section>

    </div>
  </div>
</main>
{% endblock content %}

{% block js %}
{% endblock js %}
