<article class="view-homepage-description">
  <h1 class="title">Health manager app</h1>
  <h1 class="subtitle">Never miss a MALANNO</h1>
  <p class="subtitle mt-5 mb-6">
    A simple webapp to handle every MALANNO, capable to produce grouped reports to export and share with your doctor.
    This app should be easy enough to be used by a granparent.
  </p>
  <p class="subtitle mt-5">
    Created and coded by Francesco Paoletti
  </p>

  <a class="button is-info" href="https://github.com/TheShooter89">
    <span class="icon">
      <i class="fab fa-github"></i>
    </span>
    <span>@theshooter89</span>
  </a>

  <a class="button is-info" href="https://www.linkedin.com/in/francesco-paoletti-79b50849/">
    <span class="icon">
      <i class="fab fa-linkedin"></i>
    </span>
    <span>LinkedIn</span>
  </a>
</article>
