{% extends "base.html" %}

{% block title %}
Malanno Manager Homepage
{% endblock title %}

{% block head %}
<link
  rel="stylesheet"
  href="static/css/home/homepage.css"
>
{% endblock head %}

{% block content %}
<section class="hero view-homepage-hero is-fullheight">
  <div class="hero-body">
    <div class="container view-homepage-container">
      <p class="title">Malanno Manager</p>
      <p class="subtitle">simple Rust loco app</p>
      <p class="subtitle">magnificent background from <a href="https://unsplash.com/it/@marekpiwnicki?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Marek Piwnicki</a> on <a href="https://unsplash.com/it/foto/vista-di-una-catena-montuosa-innevata-da-un-aereo-e53aiQHOBvM?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a></p>
    </div>
  </div>
</section>
{% endblock content %}

{% block js %}
{% endblock js %}
