{% extends "base.html" %}

{% block title %}
Malanno Manager Homepage
{% endblock title %}

{% block head %}
<link
  rel="stylesheet"
  href="static/css/home/homepage.css"
>
<link
  rel="stylesheet"
  href="static/css/home/description.css"
>
{% endblock head %}

{% block content %}
<main class="hero view-homepage-hero is-fullheight">
  <div class="fixed-grid has-7-cols">
    <div class="grid base-min-fullheight">

      <section class="cell view-homepage-cell is-col-span-4">
        <div class="container base-min-fullheight is-fluid is-flex is-flex-direction-column">
          <section class="view-homepage-title-container">
            <!-- brand_title - common brand title text used app-wide -->
            {% include "common/brand_title.html" ignore missing %}
            <!-- END brand_title component -->
          </section>

          <section class="view-homepage-enter-button-container">
            <a class="button view-homepage-enter-button is-warning is-large has-text-weight-bold" href="login">ENTER</a>
          </section>

          <footer class="subtitle view-homepage-bg-credits">
            <!-- background_credits - credits for background picture -->
            {% include "common/background_credits.html" ignore missing %}
            <!-- END background_credits component -->
          </footer>
        </div>
      </section>

      <section class="cell view-homepage-cell is-col-span-3">
        <section class="box base-min-fullheight is-radiusless">
          <!-- enter_credentials - form to provide login credentials -->
          {% include "home/description.html" ignore missing %}
          <!-- END enter_credentials component -->
        </section>
      </section>

    </div>
  </div>
</main>
{% endblock content %}

{% block js %}
{% endblock js %}
